<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="2.0">
	<persistence-unit name="hiberantePU" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.wang.entity.User</class>
		<exclude-unlisted-classes >false</exclude-unlisted-classes>
		<!-- 此配置可以在entityManagerFacoty 也可以在此配置
		<properties>
			 <property name="hibernate.connection.provider_class">com.alibaba.druid.support.hibernate.DruidConnectionProvider</property> 
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.connection.url" value="jdbc:mysql://192.168.1.106:3306/springtest?useUnicode=true&amp;characterEncoding=UTF-8" />
			<property name="hibernate.connection.username" value="root" />
			<property name="hibernate.connection.password" value="wangzhenyu1203" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true" />
			<property name="hibernate.hbm2ddl.auto" value="create" />
		</properties>
		-->
	</persistence-unit>
</persistence> 